@keyframes header-animation {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes set-binary-animation {
    0% {
        transform: rotate(0);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes remove-binary-animation {
    0% {
        transform: rotate(360deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0);
        opacity: 1;
    }
}


@keyframes set-php-animation {
    0% {
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
    }
    54% {
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
    }
    100% {
        transform: translateZ(0) rotateY(0);
        opacity: 1;
    }
}

@keyframes remove-php-animation {
    0% {
        transform: translateZ(0) rotateY(0);
        opacity: 1;
    }
    54% {
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
    }
    100% {
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
    }
}

/* JS Animation */
@keyframes set-contact-animation {
    0% {
        transform: translateY(-200px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    25% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    50% {
        transform: translateY(-100px);
        animation-timing-function: ease-in;
    }
    75% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

@keyframes remove-contact-animation {
    0% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    10% {
        transform: translateY(8px);
        animation-timing-function: ease-in;
    }
    25% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    50% {
        transform: translateY(-100px);
        animation-timing-function: ease-in;
    }
    75% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    100% {
        transform: translateY(-200px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
}
 /* JAVA Animation */

@keyframes se-java-animation {
    0% {
        transform: scale(1.0);
        filter: blur(5px);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes remove-java-animation {
    0% {
        transform: scale(1.0);
        filter: blur(5px);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        filter: blur(10px);
        opacity: 0;
    }
}

/* QA Animation */
@keyframes set-qa-animation {
    0% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateZ(-270px) translateY(270px);
        opacity: 0;
    }
}

@keyframes remove-qa-animation {
    0% {
        transform: translateZ(-270px) translateY(270px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

/* NET Animation */
@keyframes set-net-animation {
    0% {
        transform: rotateX(-150deg);
        transform-origin: bottom;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: bottom;
        opacity: 1;
    }
}

@keyframes remove-net-animation {
    0% {
        transform: rotateX(0deg);
        transform-origin: bottom;
        opacity: 1;
    }
    100% {
        transform: rotateX(-150deg);
        transform-origin: bottom;
        opacity: 0;
    }
}

/* Events Animation */
@keyframes set-events-animation {
    0% {
        transform: translateZ(-1200px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes remove-events-animation {
    0% {
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        transform: translateZ(-1200px);
        opacity: 0;
    }
}

/* Blog Animation */
@keyframes set-blog-animation {
    0% {
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 0;
    }
    100% {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}

@keyframes remove-blog-animation {
    0% {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% 1400px;
        opacity: 1;
    }
    100% {
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 0;
    }
}

 /* Contacts Animation */

@keyframes set-contacts-animation {
    0% {
        transform: rotateY(-90deg);
        transform-origin: right;
        opacity: 0;
    }
    100% {
        transform: rotateY(0);
        transform-origin: right;
        opacity: 1;
    }
}

@keyframes remove-contacts-animation {
    0% {
        transform: rotateY(0);
        transform-origin: right;
        opacity: 1;
    }
    100% {
        transform: rotateY(-90deg);
        transform-origin: right;
        opacity: 0;
    }
}
