@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


body {
    font-size: 16px;
    min-width: 320px;
    font-family: "Open Sans", sans-serif;
    background-color: var(--body-background);
}

.grid {
    display: grid;
}
