@import "reset.css";
@import "variables.css";
@import "bace.css";
@import "animation.css";

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*   Header  */

.container {
    width: 100%;
    padding: 10px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--body-background);
    z-index: 1;
    animation: header-animation 0.7s ease;
}

.header-logo {
    width: 100%;
}

.header-left-side {

}

.logo {
    width: 150px;
}


.header-right-side {
    display: flex;
    align-items: center;
}

.bel-wrapper {
    color: #BEC9DA;
    opacity: .7;
    margin: 0 25px;
    cursor: pointer;
}

.bel-wrapper:hover {
    opacity: 1;
}

.avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #F8991C;
    cursor: pointer;
}

.avatar-wrapper > span {
    font-size: 25px;
    color: #ffffff;
}

.avatar-wrapper:hover {
    filter: brightness(90%)
}

.avatar-wrapper > #dropdown-check {
    display: none;
}

.dropdown-menu {
    position: absolute;
    background: #ffffff;
    color: #000000;
    box-shadow: -1px 25px 50px -15px #DADEE6;
    top: 110%;
    right: 0;
    border-radius: 4px;
    font-weight: bold;
}

.dropdown-menu > li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-menu > li:hover {
    background: #BEC9DA;
}

#dropdown-check:checked ~ ul.dropdown-menu {
    display: none;
}

.dropdown-menu > .user-full-name {
    border-bottom: 1px solid #9BA6B2;
    color: #9BA6B2;
    text-align: center;
}


/*   Main section  */

.main-content {
    height: 100vh;
    grid-template-columns: 1fr 1fr 1.2fr 0.8fr;
    grid-template-rows: repeat(8, 1fr);
    padding: 120px 100px 0 100px;
    color: #221E1F;
    overflow: hidden;
}

.item {
    position: relative;
    transition: 0.5s;
}

.item-content {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    font-weight: bold;
    font-size: 1.5vw;
}

.item-preview {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.8vw;
    color: #ffffff;
}

.binary {
    grid-row: 1 / 5;
}

.qa {
    grid-row: 5 / 9;
}

.js {
    grid-row: 1 / 7;
    grid-column: 2 / 3;
}

.java {
    grid-row: 7 / 9;
    grid-column: 2 / 3;
}

.php {
    grid-column: 3 / 5;
    grid-row: 1 / 4;
}

.net {
    grid-column: 3 / 4;
    grid-row: 4 / 9;
}

.events {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
}

.blog {
    grid-column: 4 / 5;
    grid-row: 6 / 8;
}

.contacts {
    grid-column: 4 / 5;
    grid-row: 8 / 9;
}

.binary button {
    color: var(--binary-preview-color);
    min-width: 200px;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    background: #56c9f6;
    align-self: center;
}

.events > .item-content {
    min-height: 0;
    overflow-y: scroll;
    font-size: 1.2vw;
}

.blog > .item-content {
    font-size: 1.2vw;
}

.item-content > a {
    color: #221E1F;
    margin-right: 20px;
}

.item-content > a:hover {
    color: #56c9f6;
}

.binary > .item-preview {
    background: var(--binary-preview-color) no-repeat center center;
    animation: remove-binary-animation 0.8s ease both;
}

.qa > .item-preview {
    background-color: var(--qa-preview-color);
    font-size: 10vw;
    animation: remove-qa-animation 0.5s both;
}

.js > .item-preview {
    background-color: var(--js-preview-color);
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 10vw;
    color: #000000;
    animation: set-contact-animation 0.5s both;
}

.java > .item-preview {
    background-color: var(--java-preview-color);
    font-size: 4vw;
    animation: set-java-animation 1s both;
}

.php > .item-preview {
    background-color: var(--php-preview-color);
    font-style: italic;
    color: #000000;
    text-transform: lowercase;
    font-size: 6vw;
    animation: set-php-animation 0.2s ease-in both;
}

.net > .item-preview {
    background-color: var(--net-preview-color);
    font-size: 8vw;
    animation: set-net-animation 0.4s ease-in-out both;
}

.events > .item-preview {
    background-color: var(--events-preview-color);
    animation: set-events-animation 0.5s both;
}

.blog > .item-preview {
    background-color: var(--blog-preview-color);
    animation: set-blog-animation 0.6s both;
}

.contacts > .item-preview {
    background-color: var(--contacts-preview-color);
    animation: set-contacts-animation 0.6s both;
}


/*  Hover Animation */
.binary:hover .item-preview {
    animation: set-binary-animation 0.2s ease both;
}

.qa:hover .item-preview {
    animation: set-qa-animation 0.5s both;
}

.js:hover .item-preview {
    animation: remove-contact-animation 0.8s both;
}

.java:hover .item-preview {
    animation: remove-java-animation 1s both;
}

.php:hover .item-preview {
    animation: remove-php-animation 0.5s ease-in both;
}

.net:hover .item-preview {
    animation: remove-net-animation 0.4s ease-in-out both;
}

.events:hover .item-preview {
    animation: remove-events-animation 0.5s both;
}

.blog:hover .item-preview {
    animation: remove-blog-animation 0.6s both;
}

.contacts:hover .item-preview {
    animation: remove-contacts-animation 0.6s both;
}

/* Notification */

.notification-container {
    position: fixed;
    width: 260px;
    bottom: 10px;
    right: 0;
    font-size: 1em;
}

.notification-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    opacity: .8;
    border-radius: 10px;
    padding: 10px 20px;
    color: #ffffff;
}

.notification-icon {
    margin-right: 10px;
}


.error-alert {
    background-color: #CC615A;
}

.warning-alert {
    background-color: #FAA045;
}

.success-alert {
    background-color: #6BAB69;
}

.footer {
    padding: 20px 50px;
    text-align: center;
    font-weight: bold;
}


@media screen and (max-width: 965px) {
    header,
    footer,
    .main-content {
        min-width: 730px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .main-content {
        grid-template-columns: 2.4fr 0.6fr 1.4fr 1.6fr;
        grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 1.2fr 1.1fr 1.1fr 1.1fr 1.1fr;
        height: 110vh;
    }

    .binary {
        grid-column: 1 / 2;
        grid-row: 1 / 6;
    }

    .qa {
        grid-column: 1 / 3;
        grid-row: 8 / 10;
    }

    .js {
        grid-column: 2 / 4;
        grid-row: 1 / 6;
    }

    .java {
        grid-column: 1 / 3;
        grid-row: 6 / 8;
    }

    .php {
        grid-column: 3 / 5;
        grid-row: 6 / 8;
    }

    .net {
        grid-column: 3 / 5;
        grid-row: 8 / 10;
    }

    .events {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }

    .blog {
        grid-column: 4 / 5;
        grid-row: 3 / 5;
    }

    .contacts {
        grid-column: 4 / 5;
        grid-row: 5 / 6;
    }
}



