:root {
    --body-background: #F8F9FC;
    --binary-preview-color: #FFFFFF;
    --js-preview-color: #F7CF69;
    --qa-preview-color: #52BF77;
    --php-preview-color: #8893C0;
    --java-preview-color: #E12B4C;
    --net-preview-color: #642077;
    --events-preview-color: #2D99FE;
    --blog-preview-color: #0443A3;
    --contacts-preview-color: #00265F;
}
